/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,700;1,300;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
}
body{
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.10fr 0.75fr 0.15fr ;
}
header nav{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul{
    display: flex;
    justify-content: space-between;
}
header nav ul li{
    width: 120px;
    height: 25px;
    border: 1px solid black;
}
header nav a{
    width: 20%;
    height: 100%;
}
.banner{
    width: 100%;
}
.brandLogo{
    width: 100%;
    max-width: 160px;
}
h1{
    text-align: center;
    font-size: 48px;
}
.servicio{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.formularioContacto{
    display: flex;
    flex-direction: column;
    width: 40%;

}
.formularioContacto button{
    width: 20%;
    align-self: end;
}
footer ul{
    display: flex;
    justify-content: center;
}
footer ul li{
    width: 4%;
}
.socialNetworks{
    width: 80%;
}